@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Montserrat&display=swap');

/* Give headers playfair font */
h1 {
font-family: 'Lexend Deca', sans-serif;
color: #006A67;
}


:root {
  --sidebar-background-color: #DAE7ED; /* Make sidebar blue */
}


h2{
  font-family: 'Montserrat', sans-serif;
 	font-weight: 400;
	font-size: 1.1rem;
	color: #172A3A;
	text-transform: uppercase;
}


h3{
    font-family: 'Montserrat', sans-serif;
  	font-weight: 500;
  	color: #006A67;

}


a {
	color: #00806A;

}

a:hover {
	text-decoration: underline dotted;


}


.aside ul {
	padding-left: 0.2rem;
}

.decorator::after {
	background-color: #F0F7FA;
}




b::title{
  	color: #006A67;
	font-weight: 600;
}


p::title {

	text-align: justify;
}

img {
    border-radius:50%;
    padding-left: 8px;
    margin-bottom: 22px;
}
